



</ul></div>					</div>
</div>
</header>
<div class="content-page">
<div class="inner-wrap">

    <h2>Contact me</h2>

<p>You may contact me at <a href="mailto:93044048@qq.com">93044048@qq.com</a></p>
      <h1>Privacy Policy</h1>
<h2>Information and Data I Collect from You</h2>
<p>When you use our Services, you may give us your contact information directly on our Ibsite, generally your name and email address. I also collect certain information and data, such as your application usage, access, session times and in-app purchases, your unique device ID, hardware type, the version of your operating system (“OS”), your device name, your name, email address and cover photos (if you have connected to Facebook or Google+), and your general (city/country) location (based on your Internet Protocol (“IP”) address).</p>
<p>In addition, I create a unique user ID to track your use of our Service. This unique user ID is stored in connection with your profile information to track the Lion games you are playing.
I may occasionally send you push notifications through our mobile applications to send you game updates, high scores and other service related notifications that may be of importance to you. You may at any time opt-out from receiving these types of communications by turning them off at the device level through your settings.</p>
<p>I may collect non-personal information about you through our Service. Such information may include your operating system type and version, and the time and date of your visit to the Service.</p>
<h2>How I Use Your Information</h2>
<p>Lion&#8217;s primary goals in using your information are to create your account, provide Services to you, troubleshoot, improve and optimize our Services, contact you, conduct research and create reports for internal use. I use information collected through our Service for purposes described in this Policy or disclosed to you in connection with our Service. For example, I may use your information to: </p>
<ul>
<li>Create game accounts and allow users to play our games;</li>
<li>Identify and suggest connections with other Lion users;</li>
<li>Operate and improve our Services;</li>
<li>Understand you and your preferences to enhance your experience and enjoyment using our Services;</li>
<li>Respond to your comments and questions and provide customer service;</li>
<li>Provide and deliver products and services you request;</li>
<li>Deliver advertising and marketing and promotional information to you;</li>
<li>Send you related information, including confirmations, invoices, technical notices, updates, security alerts, and support and administrative messages;</li>
<li>Communicate with you about promotions, contests, rewards, upcoming events, and other news about products and services offered by Lion and our selected partners;</li>
<li>Conduct and administer contests promoted by Lion;</li>
<li>Enable you to communicate with other users; and</li>
<li>Link or combine it with other information I get from third parties, to help understand your preferences and provide you with better services.</li>
</ul>
<h2>Use of Your Information by Others</h2>
<p><strong>Third Party Services.</strong> Our Services may contain third party tracking and data collection and analytics tools from our service providers, examples of which include AppsFlyer (<a href="https://www.appsflyer.com">https://www.appsflyer.com</a>) and Helpshift (<a href="https://www.helpshift.com">https://www.helpshift.com</a>). Such third parties may use cookies, APIs, and SDKs in our Services to enable them to collect and analyze user and device related data and information on our behalf. The third parties may have access to and collect data and information about you, such as your device identifier, geo-location information, IP address, application usage, access and session times, applications present on the device or in use at a particular time on the device, and your viewing of and interactions with advertising, for the purpose of providing their services, including, for example, enabling, providing and delivering advertising as described in further detail below.</p>
<p>The privacy policies of our service providers may include additional terms and disclosures regarding their data collection and use practices and tracking technologies, and I encourage you to check those privacy policies to learn more about their data collection and use practices, use of cookies and other similar tracking technologies.</p>
<p><strong>Advertising.</strong> To the extent I display advertising in our Services, I may allow advertising networks of our affiliates and partner networks to collect information about your mobile device to enable them to serve targeted ads to you. Such mobile device data includes the following:</p>
<ul>
<li>Device make, model and operating system;</li>
<li>Device properties related to screen size &#038; orientation, audio volume and battery;</li>
<li>Carrier;</li>
<li>Operating system;</li>
<li>Name and properties of mobile application through which a consumer interacts with the Services;</li>
<li>Country, time zone and locale settings (country and preferred language);</li>
<li>Network connection type and speed;</li>
<li>IP Address;</li>
<li>Internet browser user-agent used to access the Services; and</li>
<li>Identifier for advertisers (IDFA).</li>
</ul>
<p>The privacy policies of our partners may include additional terms and disclosures regarding their data collection and use practices and tracking technologies, and I encourage you to check those privacy policies to learn more about their data collection and use practices, use of cookies and other similar tracking technologies.</p>
</ul>
<p>You may also limit data collection by third parties by using your mobile device settings. Please note that electing to opt-out will not stop advertising from appearing in your browser or applications. It may make the ads you see less relevant to your interests. Additionally, please not that if you use a different browser or erase cookies from your browser, or use a different mobile device, you may need to renew your opt-out choices. </p>
<h2>How I May Disclose Your Information to Third Parties</h2>
<p>Lion does not share your personal information except as approved by you or as described herein.</p>
<p>I may share information I collect or derive with third parties for the following purposes:</p>
<ul>
<li>With service providers that perform services on our behalf, including the ones referenced above under “Third Party Services”; </li>
<li>With our affiliates; </li>
<li>For analytics and research purposes; </li>
<li>In response to subpoenas, court orders, or other legal processes; </li>
<li>To protect our or a third party’s legal rights, investigate fraud, or to defend against a legal claim; </li>
<li>As part of a business transfer such as a merger, acquisition, or at bankruptcy; </li>
<li>I may share aggregate or anonymous information about you with advertisers, publishers, business partners, sponsors, and other third parties; and </li>
<li>I may use analytics services provided by third parties, including Google Analytics. These service providers may use cookies to collect information about your online activities across this and other sites over time for non-advertising purposes. To learn more about how Google analytics collects and processes data and the choices Google may offer to control these activities, you may visit <a href="http://www.google.com/intl/en/policies/privacy/partners/">http://www.google.com/intl/en/policies/privacy/partners/</a>.</li>
</ul>
<h2>Specific Provisions for EU Individuals</h2>
<p><strong>Accessing and Correcting Your Personal Information.</strong> At any time, you may contact Lion at the address provided in the “Contact Lion Studios” section herein and request to access the personal data that Lion holds about you. Lion may need to ask you to provide certain information to make sure you are who you claim to be. If you find the information on your account is not accurate, complete or updated, then please provide Lion with the necessary information to correct it.</p>
<p><strong>Withdrawing Your Consent.</strong> Contact us if you would like to withdraw your consent to the processing of your personal data. Exercising this right will not affect the lawfulness of processing based on consent before withdrawal.</p>
<p><strong>Erasing or Restricting Access to Your Information.</strong> You may request to delete or restrict access to your personal data. I may postpone or deny your request if your personal data is in current use for providing Services or for other legitimate purposes, in which case I will let you know if I are unable to do so and why.</p>
<p><strong>Transferring your Personal Data (Otherwise known as Your Right to Data Portability).</strong> You have the right to receive your personal data that you have provided us in a structured, commonly used and machine readable format and the right to transmit that data to another party of your choice, where technically feasible. HoIver, this right shall not apply where it would adversely affect the rights and freedoms of others.</p>
<p><strong>Right to Make Complaint:</strong> if you consider that our processing of your personal data infringes data protection laws, you have a legal right to lodge a complaint with a supervisory authority responsible for data protection. You may do so in the EU member state of your habitual residence, your place of work or the place of the alleged infringement.</p>
<p>If you have any concerns about the way I process your personal data, you are Ilcome to contact our data protection officer at <a href="mailto:93044048@qq.com">93044048@qq.com</a> or write to us at the address set forth in the “Contact Lion Studios” section. I will look into your request and make good faith efforts to resolve any concern you may have.</p>
<p><strong>Security Safeguards.</strong> Lion takes reasonable measures to protect your information from unauthorized access or against loss, misuse or alteration by third parties. Although I make good faith efforts to store the information collected on the Services in a secure operating environment that is not available to the public, I cannot guarantee the absolute security of that information during its transmission or its storage on our systems. Further, while I attempt to ensure the integrity and security of our network and systems, I cannot guarantee that our security measures will prevent third-party “hackers” from illegally obtaining access to this information. I do not warrant or represent that your information will be protected against, loss, misuse, or alteration by third parties. No method of transmission over the Internet, or method of electronic storage, is 100% secure, hoIver. Therefore, I cannot guarantee its absolute security.</p>
<p><strong>Data Retention.</strong> Lion retains your personal data for as long as needed to provide you Services, unless I are required by law to delete or if Lion accepts your request to delete the information. I will also retain and use your personal data as necessary to comply with our legal obligations, resolve disputes, and enforce our agreements. </p>
<p><strong>Our Policy Regarding Children.</strong> I do not knowingly collect or solicit personal data from anyone under the age of 16 or knowingly allow such persons to use our Services. If you are under 16, please do not send any information about yourself to us, including your name, address, telephone number, or email address. No one under the age of 16 may provide any personal data. In the event that I learn that I have collected personal data from a child under age 16, I will delete that information as quickly as possible. If you believe that I might have any information from or about a child under the age of 16, please contact us.</p>
<p><strong>Transfer of Personal Data Outside Your Country.</strong> I may transfer information that I collect about you to affiliated entities, or to other third parties across borders and from your country or jurisdiction to other countries or jurisdictions around the world. Please note that these countries and jurisdictions may not have the same data protection laws as your own jurisdiction, and I take steps to ensure adequate safeguards are in place to enable transfer of information to the U.S. and the use and disclosure of information about you, including personal data, as described in this Policy.</p>
<p><strong>Lawful Basis for Processing.</strong> On certain occasions, I process your personal data when it is necessary for the performance of a contract to which you are a party, such as to provide the Services to you. I may also process your personal data to respond to your inquiries concerning our products and services.</p>
<p>On other occasions, I process your personal data where required by law. I may also process your personal data if necessary to protect your interests or the interests of a third party.</p>
<p>Additionally, I process your personal data when necessary to do so for fraud prevention, improving our network and services, and marketing our services to advertisers and publishers; where these interests are not overridden by your data protection rights. </p>
<p>If the processing of personal data is necessary and there is no other lawful basis for such processing, I will generally ensure that consent has been obtained from you. You have the right to withdraw your consent to processing of personal data at any time.</p>
<p>For questions about data processing, please contact our Data Protection Officer. Visit the “Contact Lion Studios” section below for contact information.</p>
<p><strong>Changes to This Policy.</strong> I may update this Policy to reflect changes to our data and information privacy practices. If I make any material changes I will notify you by means of a notice on the Services prior to the change becoming effective. I encourage you to periodically review this Policy for the latest information on our privacy practices. Please note that if Lion needs to adapt the policy to legal requirements, the new policy will become effective immediately or as required. </p>